<p>
<a href="http://www.cooperativemaine.org">Cooperative Maine</a> is building a democratic economy rooted in community.
Want to help out? <%= link_to 'Add your organization', :controller => 'organizations', :action => 'new' %>!
</p>

<%= render :partial => "list" %>
