<div id="info-page-content">
<h1>About the Solidarity Economy Mapping Project</h1>

<p>
In the U.S. and all throughout the world there is a growing solidarity economy (SE) where people and communities are working together to put people and planet over blind profit maximization and reckless growth. The solidarity economy is grounded in principles of solidarity, equity, sustainability, participatory democracy and pluralism (meaning it&#8217;s not a one-size-fits-all model). Practices that the solidarity economy embraces include  worker, consumer, producer, and housing cooperatives; fair trade, community land trusts; credit unions; social currencies; participatory budgeting; collective childcare, community gardening, community supported agriculture/seafood, and the commons movement, to name a few. There is a substantial foundation that already exists upon which to build a solidarity economy.</p>

<p>
And yet, in the U.S., these many wonderful and inspiring examples add up to much less than the sum of their parts. One reason is that these initiatives are invisible  &ndash; overshadowed by the mega-corporations and banks, malls, and big box stores of the mainstream economy. The second reason is that they are relatively unconnected, so that rather than reinforcing and supporting each other, each one struggles along, alone in a hostile, or at best, dismissive environment. The third reason is that research on the solidarity economy in the U.S. is scarce and there is largely only anecdotal evidence for its positive economic and social impact.
</p>
 
<p>
We propose to tackle these three problems with this map of the solidarity economy. This tool will have the following objectives:
</p>

<ol> 
<li>
<h2>Raising visibility</h2>
In mapping the solidarity economy, we make it visible to a number of audiences:
  <ul>
  <li><em>Consumers</em> who will be able to find SE goods and services.</li>
  <li><em>Solidarity economy enterprises</em> that become visible to each other, helping them self-identify and connect up with the larger global movement to create a just and sustainable economy.</li>
  <li><em>The general public</em>, which will be able to see that examples of the solidarity economy are all around us.</li>
  </ul>
</li>
<li>
<h2>Developing Solidarity Economy Chains</h2>
This solidarity economy map will facilitate the creation of solidarity economy value chains that link SE suppliers, producers, distributors, and finance. Producers will be able to use the map to find suppliers and vice versa. SE enterprises will be able to find service providers, finance or perhaps a barter network that can satisfy a given need.
</li>
<li>
<h2>Facilitating research</h2>
There is a dearth of good data on the solidarity economy. How many jobs and how much output does it account for? What is its economic ripple effect? This data is crucial for making the case for resources and policies that support the solidarity economy. In addition to this platform, our larger mapping initiative is collecting economic data to assess the economic impact of sectors the solidarity economy in New York City and Philadelphia.
</li>
</ol>

</div>