<div id="info-page-content">

<p>We would love to hear your feedback whether it&#8217;s a suggestion to improve the map and experience, ways that you’ve used it, or general thoughts. 
</p>

<p>
Email:  Craig Borowiak &lt;cborowia@haverford.edu&gt; and Emily Kawano &lt;emilykawano@gmail.com&gt;
</p>

</div>