<div id="info-page-content">
<h1>Credits and Terms of Use</h1>

<p>
This platform has been made possible with funding from the National Science Foundation (awards BCS - 1339974, 1339846, 1339748, 1340030) as part of a collaborative grant to research the solidarity economy in the United States. Material and labor support and funding has also been provided by several other organizations, including the U.S. Solidarity Economy Network, SolidarityNYC, Haverford College (PI Dr. Craig Borowiak), Hunter College-CUNY (PI Dr. Marianna Pavlovskaya), Drew University (PI Dr. Maliha Safri), and Worcester State University (PI Dr. Stephen Healy).
</p>

<p>
The data for this project has been collected from a great variety of sources and with the support of several network organizations, including, but not limited to, the Philadelphia Area Cooperative Alliance, Data Commons, SolidarityNYC, USDA, U.S. Federation of Worker Cooperatives, North American Students for Cooperation, U.S. Federation of Community Development Credit Unions, NCUA (National Credit Union Administration), FPWA (The Federation of Protestant Welfare Agencies, UHAB (Urban Homesteading Assistance Board), Farming Concrete, Garden Justice Legal Initiative, the Sustainable Business Network (SBN) of Greater Philadelphia, and the University of Wisconsin Center for Cooperatives.
</p>

<p>
The database is housed at Haverford College and has been developed and maintained with the extensive support of Michael Zarafonetis (Digital Scholarship Librarian) and Laurie Allen (Coordinator of Digital Scholarship and Services).
</p>

<p>
A great number of other individuals have contributed to this project. Several research assistants at Haverford College have made valuable contributions. These include Alex Egilman, Samantha Shain, Madeline Smith-Gibbs, Cameron Scherer, and Ethan Adelman-Sil. In New York, important contributions have been made by graduate research assistants at Hunter College Jack Norton, Christian Siener, Robert Eletto, Jordan Leff, Ekaterina Bezborodko, Trude Chandler, Araby Smyth, and Lauren Hudson. Olivia Geiger was the wonderful liaison with SolidarityNYC.
</p>

<h2>Programming and Design</h2>

<p>
The main site directory software, <a href="https://github.com/datacommons/stonesoup">StoneSoup</a>, is maintained by Paul Fitzpatrick of the <a href="http://datacommons.coop/">Data Commons Cooperative</a>. Data Commons uses it to run <a href="http://find.coop">Find.coop</a> and several sister sites. Other contributors over the years have included Josh Crawford, Dave Evans, Jason Mott, and Benjamin Bradley. StoneSoup is <a href="http://www.gnu.org/philosophy/free-sw.en.html">free software</a> licensed under the terms of the <a href="http://www.gnu.org/licenses/agpl.html">GNU AGPL version 3 (or later)</a>.
</p>

<p>
Web and graphic design by Kristin Snelling of
<a href="http://www.radicaldesigns.org ">Radical Designs Cooperative</a>.
</p>

<p>
Design integration and <a href="https://github.com/markjenkinsskullspace/stonesoup/tree/nsf_us_solidarity_standalone">feature enhancements</a> to StoneSoup, as well as the custom suggestions form by <a href="http://parit.ca/">ParIT Worker Co-operative</a>.
</p>

<p>
The support for <a href="https://github.com/markjenkinsskullspace/solr-geocluster-rocks">server side map clustering</a> was implemented with close inspiration to the <a href="http://dasjo.at/thesis">master thesis</a> and <a href="https://www.drupal.org/project/geocluster">Geocluster project</a> of <a href="http://dasjo.at/">Josef Dabernig</a>. This contribution to StoneSoup will be integrated into the DataCommons StoneSoup project and eventually adopted for the Find.coop website. It is also designed to be useful as a standalone module to be integrated into other mapping projects. (Free software license choice and file tagging coming soon)
</p>

<p>
Maps are displayed with <a href="http://leafletjs.com/">Leaflet</a> and additional plugins that can be viewed in the page code. The <a href="https://github.com/Leaflet/Leaflet/blob/master/LICENSE">license of Leaflet</a> is <a href="http://www.gnu.org/philosophy/free-sw.en.html">free software</a>.
</p>

<p>
<a href="https://www.mapbox.com/about/maps/">Map tiles</a> are the <cite>Streets</cite> tileset by <a href="https://mapbox.com">Mapbox</a>, the data of which largely originates from the <a href="http://www.openstreetmap.org/">OpenStreeMap</a> project.
</p>

<h2>Terms of Use</h2>
<p>
The text and content of solidarityeconomy.us are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License</a>.
<div>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
</div>
</p>
</div>