<div id="info-page-content">
<h1>Solidarity Economy Typology, Definition and Boundaries</h1>

<h2>What is the solidarity economy?</h2>

<p>
The solidarity economy concept has diverse origins and is taking shape in different ways throughout the world. In the U.S., the solidarity economy has been defined US Solidarity Economy Network (USSEN) as an alternative development framework grounded in principles of solidarity, social equity, sustainability, democracy, and pluralism (it is not a one-size-fits-all approach) The aim is to build an economy that serves people and planet as opposed to the mainstream capitalist paradigm that is built around individual self-interest, competition, blind growth, and profit-maximizing. There already exists a wide array of economic practices that align with SE principles that provides a strong foundation to build upon. The SE framework connects these practices in order to develop an economy for people and planet. 
</p>

<h2>Aims</h2>

<p>
One of the primary aims of this mapping project is to increase the visibility of individual solidarity economy practices and of the solidarity economy as a whole. This has benefits for participants, publics, and policymakers alike. Particular emphasis is placed on the cooperative and community-centered nature of the economic activity and on the possibility of leveraging solidarity across different sectors of the solidarity economy so that they support one another to build resilient and sustainable livelihoods within the community. Heightened visibility will make it easier for its various practices to connect and scale up their impact. Imagine, for example, the following scenarios: A worker cooperative purchase inputs from other cooperatives or collectively controlled social enterprises. These businesses take out loans from community development financial institutions. People bank at credit unions, shop at cooperative stores, pay with social currencies, live in cohousing that&#8217;s part of a community land trust. They are involved in governance through participatory budgeting and learn new skills through skill-shares. 
</p>

<h2>What is included in this map?</h2>

<p>
A great variety of organizational types and practices, both formal and informal, fall under the solidarity economy umbrella. Table 1 lists examples of SE practices in each sector of the economy: production, distribution and exchange, consumption, finance and governance. In general, these examples are collectively and democratically run for the benefit of their members or the community. SE does not preclude turning a profit (or surplus), nor engaging in market exchange, but it does not regard markets or profit as ends in themselves. 
</p>

<p>
We understand that many organizations and practices might fit under more than one column. Take for example a community garden that also gives away surplus produce for free. It is engaged in both the sphere of production and distribution. We also focus on practices that have, in one way or another, a degree of formal organization, though SE embraces informal and non-monetized economic activities as well.  
</p>

<p>
In deciding which practices to include in this map of the solidarity economy, we have used the following two criteria. 
<ol>
<li>The practice is in substantial alignment with SE principles (equity, sustainability, solidarity, democracy, pluralism)</li>
<li>There is nothing inherent in the structure of this practice that violates SE principles</li>
</ol>
</p>

<p> 
Thus, in populating this map, we have sought to identify categories of organization that, broadly speaking, are aligned with these criteria, even if individual exceptions can be made. Take for example, worker cooperatives where the business is owned and controlled by the workers. The <a href="https://www.ncba.coop/7-cooperative-principles">seven cooperative principles</a>  that most cooperatives subscribe to speak to all five of the SE principles and there is nothing inherent in the worker cooperative form that violates any of the principles. We consequently include worker cooperatives as a type of SE practice. There may well be individual worker cooperatives that operate in ways that are not aligned with these principles-- for example, they engage in sexist, racist or homophobic practices. Such a cooperative would be excluded on an individual basis. However, there is nothing about worker cooperatives in general that gives cause to categorically exclude them. 
</p>

<h2>Table 1: Typology of Solidarity Economy Practices</h2>
<p>
Types that are bolded are included in the SE map. Those that are unbolded may be included as an SE practice on a case-by-case basis or included as an SE Ally, or beyond the scope of this research.
</p>
<table id="typology-table">

<thead>
<tr>
<th>Alternative Consumption</th>
<th>Alternative Production</th>
<th>Alternative Finance</th>
<th>Alternative Exchange</th>
<th>Governance</th>
</tr>
</thead>

<tbody>
<tr>

<td>
<ul>
<li><strong>Consumer cooperatives</strong></li>
<li><strong>Buying Clubs</strong></li>
<li><strong>Coop housing, Co-housing, intentional communities</strong></li>
<li><strong>Community land trusts</strong></li>
</ul>
</td>

<td>
<ul>
<li><strong>Worker cooperatives</strong></li>
<li>Producer cooperatives (some)</li>
<li><strong>Volunteer collectives</strong></li>
<li><strong>Community gardens</strong></li>
<li><strong>Collectives of self-employed</strong></li>
<li>Unpaid care work</li>
</ul>
</td>

<td>
<ul>
<li><strong>Credit unions</strong></li>
<li><strong>Community development credit unions</strong></li>
<li>Peer lending</li>
<li><strong>Mutual association (insurance, health, etc)</strong></li>
</ul>
</td>

<td>
<ul>
<li>Fair trade (some)</li>
<li>Community supported agriculture and fisheries (some)</li>
<li><strong>Complementary/ Social/Local currencies</strong></li>
<li><strong>Time banks</strong></li>
<li><strong>Barter or Free-cycle networks</strong></li>
</ul>
</td>

<td>
<ul>
<li><strong>Participatory budgeting</strong></li>
<li><strong>Collective community management of resources</strong></li>
</ul>
</td>

</tr>
</tbody>
</table>
	
<h2>A deeper exploration into the boundaries of the solidarity economy</h2>

<p>
While the above typology may seem straightforward, upon deeper exploration we find that defining the boundaries of the solidarity economy is more complicated. 
</p>

<p>For example, some practices are strongly aligned with one dimension but not necessarily with others. Take for example, social enterprises. Given that they have a social mission, they are likely to be aligned with principles of equity, sustainability and solidarity. Capitalist(?) social enterprises that have owners or stockholders who are in control while workers do not have an assured (statutory) place at the table do not align with the democratic principle of SE. Even if the owner allows workers to have input into decision-making, this <q>privilege</q> can just as easily be withdrawn by the owner. Because of the structural conflict with democratic principles, we exclude them from the SE typology, although they may be considered <q>allies</q> because they are otherwise substantially aligned with SE principles and contribute to SE goals. We have created a separate category of <q>ally</q> so such entities might also be included on the map.
</p>

<p>
However, the a sub-set of social enterprises that are collectively and democratically owned and managed are included in the solidarity economy. For example, a business that is run by a non-profit or is community owned would fall in this category. In fact, in some parts of the world, a social enterprise is defined as one which is collectively and democratically owned and managed. In the U.S., social enterprise is generally defined as a business with a social aim, so includes capitalist as well as collectively owned social enterprises.  
</p>

<p>
Let&#8217;s take one more example. Fair trade seeks to give growers a fair price, which seems like an obviously good thing. Fair trade products, however, are different from fair trade organizations. When a giant transnational corporation like Wal-mart comes out with its own brand of fair trade coffee while engaging in a union busting, paying poverty wages, and pressuring price reductions for other non-fair trade goods, it is hardly cause to include Wal-mart in the solidarity economy, even as an ally. Furthermore, some fair trade organizations have chosen to certify large plantations that pay their workers only minimum wage and give them virtually no decision-making power, rather than supporting grower cooperatives of small farmers. Accordingly, we have decided not to include fair trade enterprises in general. We do, however, include fair trade distributors that are collectively managed such as Equal Exchange and non-profit fair trade organizations like 10,000 Villages. Other fair trade growers and distributors can be included on a case by case basis.
</p>

<p>
These explanations and examples are meant to illustrate how we have gone about deciding on what to include. 
</p>

<h2>Future directions</h2>

<p>
Some types of practices that include a mix of SE, allies or SE subsets were beyond our research capacity. There are also many kinds of solidarity economy that are exercised in informal ways within communities, including varieties of unpaid care labor. These are a couple of areas that we hope that we will be able to account for in the future.
</p>
</div>