<div id="info-page-content">
<h1>How to Use this Solidarity Economy Mapping Platform</h1>

<p> 
This mapping platform is designed to be a user-friendly way for the public to search for and find solidarity economy initiatives all across the country. We understand that different users have different needs and different preferences for how they&#8217;d like to interact with the site. For this reason we&#8217;ve created a variety of ways to get at basically the same information.
</p>
 
<h2>Exploring the Map with Mouse</h2>
<p>
Perhaps the simplest way to use the platform is to explore the map directly using a mouse. You can zoom down to the street level to find individual organizations in a particular location or you can zoom out to see larger numbers of organizations clustered together. Clusters are represented by a circle icon with a number indicating how many organizations are contained in the cluster. The color and size of the icon changes as the numbers increase. 
</p>

<p>
Individual organizations are marked with icons that represent the following types of activity: 
<ul class="activity-list">
<li>Finance/Exchange</li>
<li>Food</li>
<li>Goods and Services</li>
<li>Governance</li>
<li>Housing</li>
<li>Learn and Play</li>
</ul>
</p>

<p>
Clicking on individual icons will reveal the organization&#8217;s name along with a hyperlink that will take you to an additional page containing more information about the specific organization. 
</p>

<p>
Because of the exceptionally large number of credit unions and housing cooperatives across the country, separate check boxes have been created to enable users to view the map with or without those categories.
</p> 
 
<h2>Using the Search Bars</h2>
<p>
In addition to exploring the map directly, it is also possible to use the search bars to search the mapping database for particular types of solidarity economy initiatives and/or according to geography (city, state, zip code).  For example, an individual who is interested in finding childcare cooperatives in Philadelphia could enter Philadelphia, PA for the city and state and select <q>childcare cooperatives</q> on the dropdown menu under TYPE. Clicking the magnifying glass button will open a results page containing an interactive map of childcare cooperatives in Philadelphia and a corresponding list of addresses.
</p>

<p> 
Alternatively, the keyword search can be used to search the map for names or keywords that might appear in individual entries. Entering <q>cheese</q>, for example, will deliver solidarity economy initiatives that have <q>cheese</q> in their name or description. Currently the search engine does not include data on enterprises&#8217; primary goods or services, although we plan to incorporate such data in the future.
</p>

<h2>Contributing to the Map</h2>

<p>
This platform is being designed so that individual solidarity economy initiatives can maintain their own information in the mapping database and so that the general public can propose corrections and additions to the map listings.  Clicking the <q class="boldq"><a href="http://edit.<%= request.host %>/">Be on the Map</a></q> link (located on the left side of the map) will take users to a form where they can propose new entries to the map. It is also possible to suggest modifications to existing entries by clicking the <q class="boldq">Suggest changes to this entry</q> link on the dedicated page for any individual organization. 
</p>

<p>
The information contained in this platform is not comprehensive. We currently have more data for the mid-Atlantic region than we do for other regions. Developing our database is an ongoing project and we depend on the contributions of the public. 
</p>

<h2>Future Development</h2>

<p>
This site itself is still under development. In the future we hope to add several new functionalities, including, but not limited to, the following:
<ul>
<li>We aim to improve the updating interface so organizations can more easily add and maintain their own information and have greater control over how it is represented on the site.</li>
<li> We aim to improve the search functions to include products and services 
</li>
<li>We aim to add more geographic options (e.g., distance from a city) for the search bars</li>
<li>We aim to build in connections to similar mapping platforms in other countries</li>
</ul>
</p>

<p>We welcome <a href="/contact">your feedback</a>.</p>
 

<h2>Participant Consent and Limits to the Map</h2>

<p>
We have made an effort to place as many solidarity economy initiatives as we can on the map. At the same time, it is important to recognize that not all initiatives are as easy to map as others. For example, it would be misleading to assign a precise location to network-based initiatives such as freecycle and barter networks. Additionally, some solidarity economy organizations prefer to remain off the map. We strive to operate through the consent of the organizations themselves and respect such preferences.
</p>
</div>