<div id="info-page-content">

<h1>Our Team</h1>

<p class="intropara">
We are a network of Academic, Student Researchers, and Community Members who are based at multiple locations in the Eastern United States and beyond. The principal researchers on the Mapping the Solidarity Economy project are listed below (in alphabetical order):
</p>

<div id="team-paras">
<p>
<a href="http://www.haverford.edu/faculty/cborowia">Craig Borowiak</a> &lt;cborowia@haverford.edu&gt; is an associate professor of Political Science at Haverford College. His research and teaching revolve around political economic thought, globalization, democratic theory, global civil society, and post-capitalist politics. He is currently researching solidarity economies and the spread of solidarity economy movements around the globe. He is the author of <cite>Accountability and Democracy: the Pitfalls and Promise of Popular Control</cite> (Oxford University Press, 2011), and co-editor of <cite>Exploring Cooperatives: Economic Democracy and Community Development in Pennsylvania and Wisconsin</cite> (Madison, WI: University of Wisconsin-Extension, forthcoming 2014). He has also published several articles in major political science journals, including <cite>Polity</cite>, the <cite>Journal of Politics</cite>, <cite>Political Theory</cite>, <cite>New Political Science, and Politics and Society</cite>, among others. He maintains a <a href="http://cborowiak.haverford.edu/solidarityeconomy/">research website</a> on the solidarity economy at: <a href="http://cborowiak.haverford.edu/solidarityeconomy/">http://cborowiak.haverford.edu/solidarityeconomy/</a>
</p>

<p>
Stephen Healy &lt;stephen.healy@uws.edu.au&gt; is a geographer and founding member of the <a href="http://www.communityeconomies.org/">Community Economies Collective</a>. Psychoanalytic and Marxian theory inform his approach to community-based research. He is a co-author of <a href="http://www.upress.umn.edu/book-division/books/take-back-the-economy"><cite>Take Back the Economy: An Ethical for Transforming Our Communities</cite></a> (2013), with Jenny Cameron and J.K. Gibson-Graham He was an Associate Professor of Geography at Worcester State University and is currently a Senior Research Fellow in the Institute of Culture and Society at the University of Western Sydney.
</p>

<p>
Emily Kawano &lt;emilykawano@gmail.com&gt; received her Ph.D in economics from the University of Massachusetts, Amherst. She is the co-director of Wellspring Cooperative, a founder and director of the <a href="http://www.ussen.org/">U.S. Solidarity Economy Network</a> and a board member of the <a href="http://www.ripess.org/">Intercontinental Social Solidarity Economy Network</a> (RIPESS). She served as the director of the Center for Popular Economics from 2004-2013 and remains a member of the collective. She has taught economics at Smith College, and worked as the National Economic Justice Rep. for the American Friends Service Committee. In N. Ireland, she founded a popular economics program with the Irish Congress of Trade Unions, served on the N.I Social Economy Network Working Group and worked with Belfast Community Development Agencies to develop and deliver a social economy training program for community groups.
</p>

<p>
<a href="http://www.geo.hunter.cuny.edu/~mpavlov/">Marianna Pavlovskaya</a> &lt;mpavlov@hunter.cuny.edu&gt; is a Professor of Geography at the Department of Geography at Hunter College and the PhD program in Earth and Environmental Sciences at CUNY Graduate Center. Currently, she is also an Interim Chair the Geography Department at Hunter College. Her MA degree in geography is from Moscow State University and her PhD in geography from Clark University. Her research fields connect urban, socio-economic, and feminist geography with geospatial technologies. Some of her recent and on-going projects have examined neoliberalization and production of economic difference in post-Soviet Russia; constitution of social body through the U.S. census and geo-spatial data; spatial mobility and gender; and the role of GIS and other geospatial technologies in production of knowledge and enabling progressive social transformations. She was fortunate to work on these and other projects with colleagues in the US, Russia, Norway, and Uganda. She is also fortunate to work with fantastic students at Hunter College and CUNY Graduate Center on their wonderful projects. Her current research theorizes solidarity economy as an instance of economic difference already present within the U.S. economy and aims to constitute it as an object of theory, policy, and action.
</p>


<p>
<a href="http://www.drew.edu/ebs/faculty/maliha-safri/">Maliha Safri</a> &lt;msafri@drew.edu&gt; is an associate professor in the economics department at Drew University, and has taught and published on political economy and migration. She has published articles in <cite>Signs</cite>, the <cite>Middle East Journal</cite>, <cite>Rethinking Marxism</cite>, the <cite>Economist’s Voice</cite>, and edited book collections. She has also been involved with popular education seminars and courses with activists, especially with worker cooperatives in the NJ and NY metropolitan area.
</p>
</div>

</div>
<!-- team-paras -->