The Data Commons Project is a collaborative effort among a diverse array of organizations in the U.S. and Canada who share a mission of building and supporting the development of a cooperative economy.  Our goal is to develop an accurate, comprehensive, public database of cooperative economic initiatives in North America. (<a href='http://dcp.usworker.coop'>read more</a>...)
