<dl class="attribute" id='member_org_<%=member_org.id%>'>
	<dt><%= member_org.name %>
		<span class="actions">
		[ <%= link_to_remote( 'delete', 
			:url => {:controller => 'member_orgs', :action => 'dissociate', :member_org_id => member_org.id, :organization_id => @organization.id},
			:update => 'member_orgs',
			:confirm => 'Remove Member Org association?') %>
		]
		</span>
	</dt>
</dl>
