#userstatus { 
  display: none;
}
#button-help { 
  display: none !important;             
}
#dso_filter_form { 
  display: none;
}
#legal_structure_filter_form { 
  display: none;
}
#sector_filter_form { 
  display: none;
}
#organization_editors { 
  display: none;
}
#organization_edit_link { 
  display: none;
}
#big_front_map .surround_map_insert { 
  width: 100%;
}
#big_front_map .search_listing { 
  display: none;
}
/** Hide the add org link as it uses this **/
#front-bar .flip-color { 
  display: none;                         
}                         
.button-right { 
  display: none !important;
}                

#maincol .listing_menu_bar { 
  display: none;
}

#info-page-content p {
  margin: 1.12em 0;
}

#info-page-content ol li {
  margin-bottom: 1.12em;
}

#info-page-content ol li ul li {
  margin-bottom: 0.2em;
 }

#info-page-content .activity-list li { 
  font-style: italic;
}

#info-page-content q {
  quotes: "\201C" "\201D";
}

#info-page-content .boldq {
  font-weight: bold;
}

#info-page-content table {
  border-spacing: 0;
  border-style: none;
  border: 0;
  padding: 15px;
}

#info-page-content th { 
  background: #4f81bd;
  text-align: center;
  color: #ffffff;
  border-width: 1pt;
  border-style: solid;
  border-color: black;
}

#info-page-content td { 
  padding: 0.5em;
  vertical-align: top;
  border-style: solid;
  border-width: 1pt;
  border-top-width: 0;
}

#info-page-content table ul li { 
  margin-bottom: 1.12em;  
}

#info-page-content .intropara { 
  font-style: italic;
}

#info-page-content #team-paras p  { 
  margin: 2em 0;
}

.map_offer {
  display: none;
}
/* All CSS below designed and written by Kristin Snelling of 
   Radical Designs Cooperative http://www.radicaldesigns.org */

* {
  margin: 0;
}
html {
	min-height: 100%;
	position: relative;
}
html, body, #bigwrapper {
	height: 100%;
}
body {
	color: #35343d;
}
#pagewidth {
	width: 100%;
	min-height: 100%;
	height: auto !important;
    height: 100%;
    position: relative;
}
.content {
	max-width: 2000px;
}
a, a:link, a:visited {
	color: #94ce60;
}
a:hover {
	background-color: transparent;
	color: #45444d;
}
h1 {
	color: #35343d;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 30px;
}
h2 {
	font-family: 'Quicksand', sans-serif;
	color: #35343d;
	font-size: 22px;
	font-weight: 300;
	margin: 0;
}
h3 {
	font-family: 'Quicksand', sans-serif;
	color: #35343d;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}
h1 a, h2 a {
	color: #94ce60;
}
.clear {
	clear: both;
}

/** Buttons and Stuff **/
h2.content-button {
	display: table;
	background: #94ce60;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
	margin-top: 20px;
}
h2.content-button a {
	color: #35343d;
}
h2.content-button a:hover {
	color: #ffffff;
}

/** Header Properties **/

#header {
	width: 100%;
	background: #94CE60;
}
#header .header-inner-wrap {
	max-width: 2000px;
	min-width: 768px;
	margin: auto;
	padding: 20px;
	padding-bottom: 5px;
	
}
#header .header_material {
	min-height: auto;
}
#header .titleblock {
	float: left;
}
#search_filters, #header .header_material, #front-bar {
	background: transparent;
	background-color: transparent;
}
#front-bar {
	width: auto;
	background: #35343D;
	height: 32px;
	float: right;
	position: relative;
	margin-top: -20px;
	padding: 0 4px;
	font-weight: 100;
}
#front-bar .button {
	padding: 5px;
	border-right: 1px solid #65814f;
	float: left;
	position: relative;
	}
#front-bar .button:last-child {
	border-right: 0;
}
#front-bar a:hover {
	color: #93cd5f;
}
#header .languageblock {
	float: right;
	margin: 0;
	padding: 5px;
}
#front-bar .button .drop-down {
	background: #35343d none repeat scroll 0 0;
	padding: 5px 20px;
	position: absolute;
	right: -4px;
	top: 32px;
	display: none;
	border-top: 1px solid #65814f;
	z-index: 100;
}
#front-bar .button:hover > .drop-down  {
	display: block;
}
.drop-down ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.drop-down ul li {
	margin: 10px 0;
}


/** Search Form Properties **/

#basic_search {
	position: relative;
	float: right;
}
#search_filters, #basic_search {
	margin-top: -40px;
}
#search_form {
	background-image: none;
	width: auto;
	height: auto;
	margin-right: 10px;
}
#q {
	background: #ffffff;
	position: relative;
	width: 170px;
	height: 15px;
	font-size: 13px;
	padding: 10px;
	float: left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#floating_editor {
	z-index: 2;
}
.select2-container-multi .select2-choices {
	border: solid #94ce60 1px;
}
.filter_editable {
	min-height: 10px;
	font-size: 13px;
	padding: 10px;
	background: #ffffff;
	border: none;
	max-height: 16px;
	overflow:hidden;
}
.filter_listing {
	margin-right: 10px;
	font-size: 10px;
}
#country_filter_form {
	margin-right: 0;
}
#see_list {
	position: relative;
	float: left;
	background: transparent;
	background-image: url('/images/se_images/search.png');
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;
	width: 28px;
	height: 30px;
}
#search_filters {
	float: right;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
	clear: left;
}
.filter_title {
	display: none;
}
.filter_listing {
	padding: 0;
	margin-top: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius:3px;
}
.filter_editable {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.filter_listing.active {
	margin: -14px 10px 0 0;
	padding: 0 10px 5px;
	background: #8bc460;
	padding-top: 0;
}
.filter_editable {
	clear: right;
}
#qq, .select2-drop {
	background: #ffffff;
	border: 1px solid #94ce60; 
	top: 40px;
	left: 0;
}

/** Home Page Properties **/
#maincol.welcome-page  {
	padding: 0;
	max-width: 100%;
	margin-bottom: 0;
}
#big_front_map {
	position: relative;
}
.welcome-page #footer {
	-webkit-box-shadow: 10px -11px 8px -10px #35343D;
	-moz-box-shadow:    10px -11px 8px -10px #35343D;
	box-shadow:         10px -11px 8px -10px #35343D;
}
.welcome-page #header {
	-webkit-box-shadow: 10px 11px 8px -10px #35343D;
	-moz-box-shadow:    10px 11px 8px -10px #35343D;
	box-shadow:         10px 11px 8px -10px #35343D;
	z-index: 2;
	position: relative;
}

.leaflet-layer img{
	z-index: 1
}
.leaflet-control-container .leaflet-left {
	left: auto;
	right: 0;
}
.leaflet-control-container .leaflet-left .leaflet-control {
	margin-right: 20px;
}
#map-text-box {
	position: absolute;
	height: 100%;
	width: 265px;
	opacity: .9;
	background-color: #35343D;
	color: #ffffff;
	left: 0;
	bottom: 0;
	z-index: 10;
	overflow: auto;
}
#map-text-box h4 {
	font-weight: 600;
	font-size: 15px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
}
#map-text-box p {
	font-size: 13px;
}
.map-text-wrapper {
	position: relative;
	padding: 0 20px;
	line-height: 22px;
}
.map-text-wrapper #login {
	background: #94ce60 none repeat scroll 0 0;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 20px;
	padding: 20px;
}
#add_se #login {
	padding: 20px;
	background: #94ce60;
	width: 265px;
}
#login p {
	font-weight: 100;
	color: #33333d;
}
#login a {
	color: #ffffff;
}
#login h2 {
	font-weight: 400;
}
.close-box {
	position: absolute;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	z-index: 15;
	cursor: pointer;
	font-size: 20px;
	font-weight: 100;
	color: #95949d;
}
.open-box {
	position: absolute;
	width: 122px;
	height: 20px;
	bottom: 0;
	left: 0;
	background-image: url('/images/se_images/open-box.png');
	display: none;
	z-index: 10;
	cursor: pointer;
}
#add_se .open-box {
	width: 20px;
	padding: 50px 0 55px 10px;
	background-image: none;
	background-color: #94ce60;
	content: "\25B6 ";
	color: #35343d;
	 
}
.leaflet-control-zoom, .leaflet-control-zoom a {
	border-radius: 0;
	background-color: #35343d;
}
.leaflet-control-zoom a:hover {
	background-color: #454450;
}
.leaflet-control-zoom-in {
	background-image: url('/images/se_images/zoomin.png');
}
.leaflet-control-zoom-out {
	background-image: url('/images/se_images/zoomout.png');
}
.welcome-page h2 {
	color: #33333D;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
}

/** Interior Page Properties **/
#maincol {  /* Be sure to clear any changes made to #maincol on the .welcome-page */
	padding: 10px 20px;
	min-width: 768px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
#search_criteria {
	border: none;
	padding: 10px 20px;
	background: #35343d;
	clear: both;
	margin-bottom: 0;
	color: #ffffff;
	position: relative;
}
#search_criteria .title {
	font-weight: 400;
	font-size: 14px;
}
.section-search h2 {
	margin: 3px 0 0;
}
ul.menu_bar {
	float: right;
	padding: 6px 10px 7px;
	margin: 0;
	background: #35343d;
	font-weight: 100;
	position: relative;
	bottom: 0;
}
ul.menu_bar a:link {
	color: #ffffff;
}
ul.menu_bar a:hover {
	color: #94ce60;
}
.listing_info {
	color: #aaaaaa;
	display: inline;
	padding-bottom: 20px;
}
#search_criteria .filter_listing {
	display: inline-block;
	position: relative;
	top: -4;
	margin-top: 0;
	max-width: none;
}
#search_criteria .filter_listing.active {
	background: #45444d;
	color: #ffffff;
	padding: 5px;
}
.pagination {
	font-size: 18px;
	font-weight: 300;
	text-align: center; 
	margin-left: 20px;
	font-family: 'Quicksand', san-serif;
	padding-top: 20px;
}
.pagination a, .prev_page, .pagination .next_page  {
	border-width 0;
	border: none;
}
.pagination a:hover {
	background: #94ce60;
}
.left_listing {
		max-width: 100%;
		width: 100%;
	}
.page-organizations-show .left_listing {
	width: auto;
	max-width: 575px;
}
.mason_wall {
	clear: left;
	padding: 20px;
}
#surround_map {
	width: 98%;
	background-color: #35343d;
	padding: 1%;
	margin: -8px 0 0 0;
	color: #ffffff;
	font-size: 13px;
	float: none;
}
.page-organizations-show #surround_map {
	width: 800px;
	padding: 0;
	margin: 0 0 40px;
	float: right;
}
#surround_map h3 {
	color: #ffffff;
	font-weight: 100;
	font-size: 20px;
	margin-bottom: 0;
}
#surround_map ul {
	list-style-type: none;
	padding: 0;
	font-size: 13px;
}
#surround_map ul  li:before {
	display: none;
}
#surround_map ul {
	float: left;
	margin-right: 10px;
}
#the_map {
	width: 100%;
	height: 400px;
	border: none;
}
.page-organizations-show #the_map {
	width: 800px;
	height: 400px;
}
.category_box {
	float: none;
	background: #8bc460;
	margin: auto;
	background: #45444d;
	color: #95949d;
}
.category_box a {
	color: #94ce60;
}
.category_box a:hover {
	color: #ffffff;
}
.listing {
		width: 48%;
	}
.listing b {
	font-weight: 400;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}
.listing b a {
	color: #35343d;
}
.listing b a:hover {
	color: #94ce60;
}

.section-organizations #surround_map ul {
	float: none;
}
.address dt {
	color: #35343d;
	font-family: 'Quicksand', sans-serif;
	font-size: 22px;
}
#listing_info {
	margin: 25px 0;
}
#listing_info .address dt {
	font-size: 22px;
}
#last_updated {
	color: #aaaaaa;
}
#attributes {
	margin-top: 25px;
}

li:before {
    position:relative;
    left: -10px;
    background-color:#35343d;
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
}
#maincol li:before {
	content: none;
}
#maincol ul {
	list-style: square;
}
#maincol #surround_map ul {
	list-style: none;
}

/** Footer Properties **/
#footer {
	background: #35343D;
	color: #ffffff;
	border-top: none;
	display: table;
	width: 100%;
	min-width: 768px;
	z-index: 2;
	position: relative;
	height: auto;
}
#footer a {
	color: #93CD5F;
}
#footer a:hover {
	color: #ffffff;
}
#footer #login {
	width: 225px;
	padding: 20px;
	background-color: #94CE60;
	position: relative;
	/*display: table-cell;*/
	display: none;
}
#footer #login a h2 {
	color: 	#33333D;
}
#footer #login a h2:hover {
	color: #ffffff;
}
#footer #login p {
	margin: 0;
	font-size: 12px;
	color: #33333D;
}
#footer #login a {
	color: #ffffff;
}
#footer-inner {
	padding: 20px 0 10px 0;
	text-align: center;
	display: table-cell;
	font-size: 11px;
	font-weight: 100;
	position: relative;
	vertical-align: bottom;
	color: #95949d;
}
.social-media {
	width: 170px;
	float: right;
	margin-left: 20px;
	position: absolute;
	right: 20px;
	top: 10px;
	display: none;
}
.sm-button {
	float: right;
	margin-left: 15px;
}
	
/** Things to be hidden **/
#hide_filters_wrap {
	display: none;
}

/** Search Results Styling **/
.list_header {
	padding: 20px;
	text-align: center;
}
.page-search-search #maincol, .section-org_types #maincol {
	width: 100%;
	padding: 0;
	max-width: 100%;
}
.page-search-search #surround_map, .section-org_types #surround_map {
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
#search_criteria #list_results {
	position: relative; 
	display: inline-block;
	background: #94ce60; 
	padding: 2px 5px; 
	border-radius: 3px; 
	font-size: 16px; 
	float: right;
	font-family: 'Quicksand', sans-serif;
}
#search_criteria a {
	color: #35343d;
}
#search_meta {
	background: #35343d;
	padding: 10px;
	text-align: center;
	color: #ffffff;
}
.section-org_types #search_meta {
	height: 20px;
	overflow: hidden;
}
.section-org_types #search_meta .content, .section-org_types #search_meta h3 {
	display: none;
}
#search_meta h3 {
	color: #94ce60;
	font-size: 22px;
	margin: auto;
	width: 200px;
	display: block;
	cursor: pointer; 
	margin-bottom: 0;
	}
#search_meta h3:after {
	content: "\25B6 ";
	font-size: 16px;
	margin-left: 15px;
	color: #94ce60;
}
#search_meta h3.open:after {
	content: "\25BC ";
}
.page-search-search .left_listing, .section-org_types .left_listing {
	max-width: 2000px;
	margin: auto;
}
#add_se {
	position: absolute;
	left: 0;
	opacity: 0.9;
	bottom: 20px;
}
#add_se .close-box {
	color: #35343d;
}

/** Map Icon Styling **/

.marker-cluster-small div {
  background-color: rgba(255, 255, 51, 0.6);
}
.marker-cluster-small {
  background-color: rgba(255, 255, 51, 0.6);
  color: #35343d;
}
.marker-cluster-medium div {
  background-color: rgba(255, 204, 51, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(255, 204, 51, 0.6);
  color: #35343d;
}
.marker-cluster-large div {
  background-color: rgba(255, 153, 51, 0.6);
}
.marker-cluster-large {
  background-color: rgba(255, 153, 51, 0.6);
  color: #35343d;
}
.marker-cluster-huge div {
  background-color: rgba(255, 102, 51, 0.6);
}
.marker-cluster-huge {
  background-color: rgba(255, 102, 51, 0.6);
  color: #35343d;
}
.marker-cluster-giant div {
  background-color: rgba(255, 51, 51, 0.6);
}
.marker-cluster-giant {
  background-color: rgba(255, 51, 51, 0.6);
  color: #35343d;
}

@media (max-width: 1199px) {
	.page-organizations-show #the_map {
	width: 570px;
	}
	.page-organizations-show #surround_map {
	width: 570px;
	}
}
@media (max-width: 900px) {
	#q {
		width: 80px;
	}
}
