<h1>Editing entry</h1>

<%= start_form_tag :action => 'update', :id => @entry %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @entry %>

