<% if @welcome_page %>
  <div id="big_front_map">
  <%= render :partial => "search/map", :locals => { :name => "all", :link => { :q => "*" }, :immediate => false } %>
  </div>
  <div class="clearboth"></div>
<% else %>
  <% if @map_style %>
  <%= render :partial => 'search/map_main' %>
  <% else %>
  <%= render :partial => 'search/list_main' %>
  <% end %>
<% end %>
