<div class="listing_info"><%= page_entries_info @entries %></div>

<div>
<%= link_to 'View as list', ((clean_params.include? "style") ? clean_params.reject{|x,y| x == "style"} : clean_params.merge(:action => 'search')) %>
</div>

<div id="surround_wide_map">
<%= render :partial => "search/map_core", :locals => { :map_id => "wide_map", :map_class => nil, :orgs => @entries } %>
</div>
