<script src="leaflet/clusterer/MarkerClusterGroup-excerpt.js"></script>
<script src="javascripts/solr_clustered_map.js" type="text/javascript"></script>
<script type="text/javascript">
show_continental_US_map('big_front_map');
</script>
