<p><%= link_to 'Add New Organization', :controller => 'organizations', :action => 'new' %></p>
<% form_tag( {:action => 'search'}, :method => 'get' ) do %>
  <p><label for="q">Search:</label>
  <%= text_field_tag 'q' %>
  <%= submit_tag 'Go' %>
  </p>
<% end %>

<%= render :partial => "list" %>
