<ul class="menu_bar">
	<li><%= link_to 'Add New Organization', :controller => 'organizations', :action => 'new' %></li>
	<li><%= link_to 'Add New Person', :controller => 'people', :action => 'new' %></li>
</ul>
<%= render :partial => 'search_form', :locals => {:hide_examples => true} %>

<%= render :partial => "list" %>

