<h1>Editing access_rule</h1>

<% form_for(@access_rule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @access_rule %> |
<%= link_to 'Back', access_rules_path %>
