<h1>Listing access_rules</h1>

<table>
  <tr>
  </tr>

<% for access_rule in @access_rules %>
  <tr>
    <td><%= link_to 'Show', access_rule %></td>
    <td><%= link_to 'Edit', edit_access_rule_path(access_rule) %></td>
    <td><%= link_to 'Destroy', access_rule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New access_rule', new_access_rule_path %>
