<% content_for :title, "A collaborative directory of the cooperative + solidarity + new economy" %>


<div class="recipe">
<%= render :partial => "layouts/default/recipe" %>
</div>

<div>

<%= render :partial => "layouts/default/intro" %>

</div>

<div style="clear: both;"></div>

<%= render :partial => "list" %>


