Discover the diversity of alternative economic projects that are growing and thriving in North America!
This is a collaborative directory, a
&ldquo;<a href="http://en.wikipedia.org/wiki/Stone_soup">Stone Soup</a>&rdquo; 
that brings together multiple databases from
groups working on alternative economies under many names: the new economy, 
the cooperative economy, the solidarity economy, and more.
Together we are the <a href="http://datacommons.find.coop">Data Commons Cooperative</a>.
We share our data with each other and the public to build a stronger base of information and grow our movements. 
Pitch in by <%= link_to "adding an organization", new_organization_path %> or
<%= link_to "joining the co-op", "http://datacommons.find.coop/content/member-packet" %>.
Fish out bits you don't want with our advanced search filters.
Mmm, good soup!
