Découvre l'économie coopérative! Voilà un répertoire à la mode
de &ldquo;Stone Soup&rdquo;, mis en place à partir d'ingrédients
fournis par les membres de la nouvellement
formée <a href="http://datacommons.find.coop">Data Commons
Cooperative</a>.
Est-ce que tu voudrais donner un coup de main?
<%= link_to "Ajoute une organisation", new_organization_path %> ou
<%= link_to "rejoins nous", "http://datacommons.find.coop/content/member-packet" %>.
Enlève les ingrédients que tu n'aimes pas avec nos
filtres de recherche avancés. Mmm, une bonne soupe!
