
Descubre la economía cooperativa! Esta es una &ldquo;<a href="http://es.wikipedia.org/wiki/Sopa_de_piedra">Sopa de Piedra</a>&rdquo; de la guía, elaborado a partir de ingredientes aportados por los miembros de la recién formada <a href="http://datacommons.find.coop">Data Commons Co-op</a> . Terreno de juego en por la 
<%= link_to "adición de una organización", new_organization_path %> o <%= link_to "unirse a la cooperativa", "http://datacommons.find.coop/content/member-packet" %>. Pez fuera partes que no desees, nuestros filtros de búsqueda avanzada. Mmm, una buena sopa!

