Discover the cooperative economy!
This is a &ldquo;<a href="http://en.wikipedia.org/wiki/Stone_soup">Stone Soup</a>&rdquo; directory, 
put together from ingredients contributed by members of the 
freshly formed
<a href="http://datacommons.find.coop">Data Commons Cooperative</a>.
Pitch in by <%= link_to "adding an organization", new_organization_path %> or
<%= link_to "joining the co-op", "http://datacommons.find.coop/content/member-packet" %>.
Fish out bits you don't want with our advanced search filters.
Mmm, good soup!
