<h3>Shared directory, different views</h3>

<p>
Every
<a href="http://datacommons.coop/members/">Data Commons
Co-op member</a>
has different interests, so this collaborative directory has
any number of community views.  Examples:
</p>

<ul>
<li><a href="http://maine.find.coop/">Cooperative Maine directory</a></li>
<li><a href="http://solidarityeconomy.org/">SolidarityEconomy.org</a></li>
</ul>
