<h1>Listing Legal Structures</h1>

<%- @legal_structures.each do |entry| -%>
  <%= render :partial => 'search/teaser', :locals => {:entry => entry} %>
<%- end -%>

<div class="clearboth"></div>

<%= link_to 'New Legal Structure', new_legal_structure_path %>
