html, body {
	margin:0;
	padding:0;
	text-align:center;
	font-family:lucida grande,verdana, arial;
	font-size:14px;
	color:#222;
	background-color: #a3c17b;
        background-image: url('/images/dcp_gradient.png');
        background-position: center; 
        background-repeat: repeat-y; 
} 

body, p, ol, ul, td {
  font-family:lucida grande,verdana, arial;
  font-size:   14px;
  line-height: 14px;
}

img { border: 0; }

a:link{
        color: #114499;
}

a:visited{
           color: #114499;
}

a:hover{
         color: red;
} 

h1 {
	color: #339966;
	font-size:19px;
	border-bottom: 1px solid #ccc;
}

h2 {
	color: #339966;
	font-size:17px;
	border-bottom: 1px solid #ccc;
}

h3 {
	color: #339966;
	font-size:15px;
	border-bottom: 1px solid #ccc;
}

dl {
	text-align: left;
	}

dd {
	font-size: 85%;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
}

.message {
	border: 2px dotted black;
	font-style: bold;
	padding: 5px;
	margin: 4px 2px;
}

.attribute_section {
	padding: 5px;
	border-style: solid;
	margin: 3px;
}

.option_group {
	padding: 5px;
	border-top-style: double;
	border-right-style:double;
	border-bottom-style:double;
	border-left-style:double;
	margin: 3px;
}

.option_group_title {
	font-weight: bold;
	margin-bottom: 15px;
	border-bottom-style: solid;
}

div.actions {
	display: inline-block;
}

form.button-to {
	display: inline-block;
}

/** Main Layout CSS **/

/* tabs */
.tab-content {
	border: 1px solid #666;
	background: white; /*#FFF3B3;*/
	color: black;
	padding: 0.5em;
}


.tab-header {
	position: relative;
	height: 3em;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.tab-header ul.tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

.tab-header ul.tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

.tab-header ul.tab-list a,.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

.tab-header ul.tab-list span,.tab-header ul.tab-list a.tab-active,.tab-header ul.tab-list a.tab-active:hover {
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: none;
	background: #99F;
	color: black;
	padding-bottom: 6px;
	margin-top: 0;
}

/* a link in a background tab */
.tab-header ul.tab-list a {
	background: #ddd;
	border-top: 1px solid #AAA;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: none;
}

/* hover on a background tab */
.tab-header ul.tab-list a:hover {
	margin-top: 0;
	border-color: #666;
	background: #bbb;
	color: black;
	padding-bottom: 5px;
}

.tab  /* the heading that became the li */
{
	display: none;
}

/* DSO specific */
#dso_admin,
#dso_status {
	display: block;
	clear:both;
	border: 1px solid black;
	padding: 4px;
}
#dso_admin h2 {
	white-space: nowrap;
	margin: -4px -4px 4px -4px;
	padding: 4px;
	border-bottom: 2px solid black;

}
#maincol {
	position: relative;
	margin: 0;
	padding: 0;
	width: 781px; /* was 686 */ /* was 701 */ 
	text-align:left;
	padding:0 15px 20px 15px; 
}

#footer {
	font-size: 70%;
	text-align: center;
	vertical-align: middle;
	height:60px;
	clear:both;
	padding: 0;
	margin: 0;
	border-top: 1px solid #339966; 
        background-image: url(/images/footer-bg.gif);
        background-position: top left;
        background-repeat: repeat-x; 
        background-color: #93b86d;
}

#bigwrapper {
	background: url(/images/dcp-bg.gif) repeat-y top; 
}

#pagewidth {
	padding:0;
	width: 800px; /* was 716 */
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	background-color: #f0f6d2;
} 
 
#header {
	margin: 0;
	padding: 0;
	position:relative;
	height:210px; /* was 151 */
	width:100%;
	border-bottom: 2px solid #23480d;
	background-color: #fff;
}

#logo {
	/*height:107px;*/
	/*width:693px;*/
        width: 788px;
        height: 168px;
	float:left;
	margin: 8px 0 0 8px;
}

#userstatus {
	float: left;
	margin: 10px 0 0 15px;
}

#listing_info {
	min-height: 130px;
	margin-top: 0px;
}

.address {
	padding: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.address dt {
	font-size: 140%;
	color: #339966;
	border-bottom: 1px solid #ccc;
}
.address dt .actions {
	font-size: 60%;
	text-decoration: underline;
}

.address dd {
	font-size: 100%;
}

#loginform {
	width: 320px;
	margin: 0 0 20px 0;
	padding: 0;
}

#signupform {
	width: 320px;
	margin: 0 0 20px 0;
	padding: 0;
}

body.page-users-login #signupform {
	float:right;
}

#the_map { 
  width: 300px;
  height: 300px;
  float: right; 
  border: 1px solid #ccc;
}

#near_map { 
  width: 400px;
  height: 300px;
  float: right; 
  border: 1px solid #ccc;
}

#wide_map { 
  width: 730px;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #ccc;
}

#surround_wide_map {
  width: 735px;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
}

#surround_map {
  display: block;
  float: right; 
  margin: 5px 0px 20px 20px; 
  padding: 5px;
  background-color: white;
}

.map_preamble { 
  padding-bottom: 10px;
}

.map_offer { 
  padding-top: 10px;
}

.map_offer ul { 
  padding-top: 0;
  margin-top: 4px;
  list-style: square;
}

.mapstyle_select { 
  font-size: 75%;
}

.mapstyle_select a { 
  text-decoration: none;
}

.mapstyle_select_on { 
  font-weight: bold;
}

.mapstyle_explain { 
  font-size: 75%;
  font-style: italic;
}

.mapstyle_explain a { 
  text-decoration: none;
}

.clearboth {
	clear: both;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.preferred_contact {
	font-weight: bold;
}
ul.menu_bar {
	margin: 6px 0 7px 0;
	padding: 0;
	list-style: none;
}
ul.menu_bar li {
	display: inline;
}
ul.menu_bar li a {
	padding: 5px;
	text-decoration: none;
}

#admin_menu {
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid black;
	background-color: #FFF;
	padding: 0px 4px;
}
#admin_menu .title {
	padding: 5px;
	font-weight: bold;
}
#admin_menu ul.menu_bar {
	display: inline-block;
}

#admin_menu .menu_item a {
	background: #ABABAB;
	color: #000;
	border: none;
}
#admin_menu .menu_item a:hover {
	color: #FFF;
	background: #000;
}

.note {
	margin: 0.25em 0 0.5em 0;
	color: #606060;
}

.note .label {
	font-weight: bold;
	text-transform: uppercase;
}

.popup {
	border-bottom: 1px gray dashed;
}

.example_preamble, .example_bubble {
    font-size: 80%;
    float: left;
    margin-right:5px;
    padding-right:5px;
}

.example_bubble  {
    background: #fff;
    margin:5px;
    padding:5px;
}

#advsearch {
	margin-top: 20px;
}
#advsearch th,
#advsearch td {
	vertical-align: top;
}
#advsearch th {
	font-weight: bold;
	padding-right: 10px;
	margin-top: 10px;
}
#advsearch {
	border-spacing: 10px;
}
#advsearch .inner td {
	padding-right: 4px;
}
#advsearch .note {
	font-style: italic;
}
.listing {
 	display: block;
	float: left;
	margin: 10px;
	border: 1px solid #ccc;
	padding: 5px;
	width: 28%;
	height: 135px;
	background-color: #FFF;
	overflow: auto;
	-moz-border-radius-topleft: 9px;	
	-moz-border-radius-topright: 9px;
	-moz-border-radius-bottomleft: 9px;	
	-moz-border-radius-bottomright: 9px;

}

.private {
	border: 1px dotted #ccc;
	background-color: transparent;
}

.pagination {
  text-align: center;
  padding: .3em; }
  .pagination a, .pagination span, .pagination em {
    padding: .2em .5em; }
  .pagination span.disabled {
    color: #AAA; }
  .pagination em {
    font-weight: bold;
    color: #FF0084; }
  .pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .pagination .prev_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .prev_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }

.location_result {
  min-height: 40px;
}

.location_result img {
  float: left;
}

.location_result .qualifier {
    font-size: 75%;
    color: #aaa;
}
#last_updated {
	font-style: italic;
	color: #666;
	margin-bottom: 10px;
}
#organization_editors form, 
#organization_editors form div {
	display: inline;
}