html, body {
	margin:0;
	padding:0;
	text-align:center;
	font-family:lucida grande,verdana, arial;
	font-size:14px;
	color:#222;
	background-color: #a3c17b;
} 

img { border: 0; }

a:link{
        color: #114499;
}

a:visited{
           color: #114499;
}

a:hover{
         color: red;
} 

h1 {
	color: #339966;
	font-size:19px;
	border-bottom: 1px solid #ccc;
}

h2 {
	color: #339966;
	font-size:17px;
	border-bottom: 1px solid #ccc;
}

h3 {
	color: #339966;
	font-size:15px;
	border-bottom: 1px solid #ccc;
}

dl {
	text-align: left;
	}

dd {
	font-size: 85%;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
}

/** Main Layout CSS **/
 
#maincol {
	position: relative;
	margin: 0;
	padding: 0;
	width: 686px; /* was 701 */ 
	text-align:left;
	padding:0 15px 20px 15px; 
}

#footer {
	font-size: 80%;
	text-align: center;
	vertical-align: middle;
	height:60px;
	clear:both;
	padding: 0;
	margin: 0;
	border-top: 1px solid #339966; 
        background-image: url(/images/footer-bg.gif);
        background-position: top left;
        background-repeat: repeat-x; 
        background-color: #93b86d;
}

#bigwrapper {
	background: url(/images/dcp-bg.gif) repeat-y top; 
}

#pagewidth {
	padding:0;
	width:716px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	background-color: #f0f6d2;
} 
 
#header {
	margin: 0;
	padding: 0;
	position:relative;
	height:151px;
	width:100%;
	border-bottom: 2px solid #23480d;
	background-color: #fff;
}

#logo {
	height:107px;
	width:693px;
	float:left;
	margin: 8px 0 0 8px;
}

#userstatus {
	float: left;
	margin: 10px 0 0 15px;
}

#listing_info {
	min-height: 130px;
	margin-top: 0px;
}

#address {
	float: left;
	padding: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#address dt {
	font-size: 140%;
	color: #339966;
	border-bottom: 1px solid #ccc;
}

#address dd {
	font-size: 100%;
}

#loginform {
	width: 320px;
	margin: 0 0 20px 0;
	padding: 0;
}

#signupform {
	width: 320px;
	margin: 0 0 20px 0;
	padding: 0;
}

#the_map { 
              width: 300px;
              height: 300px;
              float: right; 
              border: 1px solid #ccc;
}

#surround_map { 
              float: right; 
              margin: 5px 0 20px 20px; 
}

.clearboth {
	clear: both;
}

/* Rails Stuff */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
