
<div class="memo">
    <h3>Welcome</h3>

    <p>You are now logged into the system.</p>
    <p>
	From here you can <%= link_to 'Add an Entry', :controller => 'entries', :action => 'new' %> or go <%= link_to 'back to the search page', :controller => 'search' %>.
    </p>
      
    <%= link_to "&#171; logout", :action=>"logout"%>  
      
</div>
