html,body { 
        background-image: url("bg_tree.png");
        background-repeat: repeat;
}

#pagewidth { 
  background-color: #ECECEC;
}

.titleblock {
  margin-left: 20px;
}

.loginblock {
  margin-right: 20px;
}

#basic_search {
  margin-right: 20px;
}

#post-header {
  padding: 5px;
}

#maincol { 
  background: url("header_geese.jpg") bottom left no-repeat;
}
