html,body { 
        background-image: url("bg_tree.png");
        background-repeat: repeat;
}

.header_material {
  margin-left: 20px;
  margin-right: 20px;
}

#maincol { 
  background: url("header_geese.jpg") bottom left no-repeat;
  background-color: #ECECEC;
  padding: 20px;
}

#footer { 
  padding: 10px;
}