<p>
The Coop Directory Service is an online source of information about natural food co-ops.
</p>

<p style="font-size: 30px;">
INCOMPLETE, PARTIAL DATA.  See <a href="http://coopdirectory.org">coopdirectory.org</a>.
</p>

<%= render :partial => "list" %>
