
<img src="/images/fci/kris008.jpg" style="display: float; float: right;" />

<h3>Kris Olsen Memorial</h3>

<p>
The Coop Directory Service (CDS) is dedicated to the memory of Kris Olsen (1946-1998) and his life-long effort to help people find natural food co-ops and start buying clubs.
</p>

<p>
In so doing, Kris fulfilled his special mission to promote food co-ops among people who knew little or nothing about the natural food co-op system.
</p>

