<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title><%- if @content_for_title -%><%=h yield(:title) %><%- else -%><%= @site.title %>: <%= controller.action_name %><%- end -%></title>
	<%=render :partial => 'layouts/common_header'%>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
<%= javascript_include_tag :defaults, 'carousel-min' %>
<%- if @site.use_logo -%>
<style>
#header {
  xbackground-image: url("/images/<%= @site.name %>/logo2.png");
  xbackground-repeat:no-repeat;
  xposition: relative;
}
</style>
<%- end -%>
</head>
<body class="section-<%=params[:controller]%> page-<%=params[:controller]%>-<%=params[:action]%>">

<%=render :partial => 'layouts/adminmenu'%>

<!-- begin wrapper div -->
<div id="bigwrapper">

<!-- begin pagewidth div -->
<div id="pagewidth">

<!-- begin header div -->
<div id="header">
        <div class='loginblock'>
	<%=render :partial => 'layouts/usermenu'%>
        </div>
	<div class='titleblock nohover clearboth'>
          <%- unless @site.use_logo -%>
	  <div class='clearboth title'><b><a href='/'>Find</a></b><span class='minor'><a href='/'>.COOP</a></span></div>
	  <div class='subtitle'><a href='/'>A directory of the cooperative economy</a></div>
          <%- else -%>
          <a href="/"><img src="/images/<%= @site.name %>/logo2.png" /></a>
          <%- end -%>
	</div>
        <%= render :partial => 'search/search_form', :locals => { :this_is_the_header => true } %>
<div id="post-header"></div>
</div>
<div id="search_filters" style="display: none; margin-bottom: 20px;"></div>
<div id="front-bar">
<div class="button-right"><%= link_to '<b>+</b> Add Organization', :controller => 'organizations', :action => 'new' %></div>
<div class="button"><a href="http://datacommons.find.coop/about">About</a></div><div class="button"><a href="http://datacommons.find.coop/contact">Contact</a></div><div class="button"><a href="http://datacommons.find.coop/donate">Donate</a></div>
</div>

<!-- end header div -->
<!-- begin maincol div -->
<div id="maincol">
	<%- unless flash[:notice].blank? -%>
		<p style="color: green"><%= flash[:notice] %></p>
	<%- end -%>
	<%- unless flash[:error].blank? -%>
		<p style="color: red"><%= flash[:error] %></p>
	<%- end -%>

<%= @content_for_layout %>
</div>
<!-- end maincol div -->
<!-- begin footer div -->
<div id="footer">
<%=render :partial => 'layouts/common_footer'%>
<%=render :partial => 'tags/select_tag', :locals => { :any => true, :act => :open_tag, :exact => false, :auto_complete_input_id => 'q', :auto_complete_output_id => 'qq' }%>
</div>
<!-- end footer div -->
</div>
<!-- end pagewidth div -->
</div>
<!-- end wrapper div -->
</body>
</html>
