<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title><%- if @content_for_title -%><%=h yield(:title) %><%- else -%><%= @site.title %>: <%= controller.action_name %><%- end -%></title>
	<%=render :partial => 'layouts/common_header'%>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
</head>
<body class="section-<%=params[:controller]%> page-<%=params[:controller]%>-<%=params[:action]%>">

<%=render :partial => 'layouts/adminmenu'%>

<!-- begin wrapper div -->
<div id="bigwrapper">

<!-- begin pagewidth div -->
<div id="pagewidth">

<!-- begin header div -->
<div id="header">
        <div class='loginblock'>
	<%=render :partial => 'layouts/usermenu'%>
        </div>
	<div class='titleblock'>
	<div class='clearboth title'><b>Find</b><span class='minor'>.COOP</span></div>
	<div class='subtitle'>A directory of the cooperative economy</div>
	</div>
</div>
<!-- end header div -->
<!-- begin maincol div -->
<div id="maincol">
	<%- unless flash[:notice].blank? -%>
		<p style="color: green"><%= flash[:notice] %></p>
	<%- end -%>
	<%- unless flash[:error].blank? -%>
		<p style="color: red"><%= flash[:error] %></p>
	<%- end -%>

<%= @content_for_layout %>
</div>
<!-- end maincol div -->
<!-- begin footer div -->
<div id="footer">
<%=render :partial => 'layouts/common_footer'%>
</div>
<!-- end footer div -->
</div>
<!-- end pagewidth div -->
</div>
<!-- end wrapper div -->
</body>
</html>
