
<p>
I aspire to one day grow up to be a directory of co-op startups.  Please 
<%= link_to "add yours", :controller => "organizations", :action => "new" %>&nbsp;-
there's got to be more than these!
</p>

<%= render :partial => "list" %>
