<p>
<font color='#800'>This is a prototype of of an Austin cooperative directory.</font>  <br/>See also <a href="http://www.austincooperatives.coop/">www.austincooperatives.coop</a> for an existing directory.
</p>

<%= render :partial => "list" %>
