<p style="color: green;">
This is a work in progress, and does not yet represent current or 
complete CWCF membership.
</p>

<%= render :partial => 'search/search_form' %>
<br class="clearboth" />

<p>
See <a href='http://www.canadianworker.coop/'>CWCF</a> home page.
</p>

<%= render :partial => "list" %>
