<p style="color: red;">
This is a placeholder for a USFWC page. Does nothing useful yet.
</p>

<%= render :partial => 'search/search_form' %>
<br class="clearboth" />

<p>
USFWC... to the max!
</p>

<%= render :partial => "list" %>
