Someone (hopefully you) requested a password reset for the account <%= @user.login %> on the Data Commons Project website.

Your new password is: <%= @password %>

To update your password to something more memorable, click here and log in with the password above: <%= Email.website_base_url %><%= url_for :controller => 'users', :action => 'prefs' %>

Cheers,
The Data Commons Project Staff
http://find.coop
