<%= render :partial => '/layouts/js_required' %>


<h1>Editing entry</h1>
<%= link_to 'View this entry.', :action => 'show', :id => @organization %>
<br/>
<% form_tag( {:action => 'update', :id => @organization}, :method => 'PUT') do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end %>
<br/>

<%= render :partial => 'parts' %>

<h2>Remove entry</h2>

<%= link_to 'Delete entire entry', @organization, :confirm => 'Are you sure?', :method => :delete %>

