<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>California Cooperative Directory: <%= controller.action_name %></title>
	<%=render :partial => 'layouts/common_header'%>
	<link href="http://cccd.coop/css/front.css" rel="stylesheet" type="text/css" />
	<style>
/* CCCD color palette:
	#91a327		greenish
	#d04f0b		orange
*/
		#pagewidth {
			background-color: white;
			border-right: 1px solid #d04f0b;
			border-left: 1px solid #d04f0b;
		}
		#footer {
			background-image: none;
			background-color: white;
			border-top: 1px solid #cccccc;
		}
		html, body {
			background-color: white;
		}
		a, a:link, a:hover, a:visited {
			color: #993300;
			background-color: white;
		}
		#userstatus {
			color: white;
			float:none;
			clear:both;
		}
		#userstatus a {
			text-decoration: none;
			background-color: #d04f0b;	/* orange */
			color: white;
			padding: 2px;
		}
		h1, h2, h3, .address dt {
			color: #91a327;
		}
		#header {
			height:147px;
		}
<%- if session[:iframe] -%>
		#maincol,
		#pagewidth {
			width: auto;
		}
		#admin_menu {
			position: relative;
			margin-top: 5px;
		}
<%- end -%>
	</style>
</head>
<body class="frontpage section-<%=params[:controller]%> page-<%=params[:controller]%>-<%=params[:action]%>">
<%=render :partial => 'layouts/adminmenu'%>

<!-- begin wrapper div -->
<div id="bigwrapper">

<!-- begin pagewidth div -->
<div id="pagewidth">

<%- unless session[:iframe] -%>
	<div id="header">
		<a href="/"><img src="http://cccd.coop/images/mastHeadLogo.gif" alt="California Center for Cooperative Development" width="451" height="119" /></a>
	  	<div id="topMenuBar">
			<a href="https://www.networkforgood.org/donation/ExpressDonation.aspx?ORGID2=392065673" target="_blank"><img src="http://cccd.coop/images/donate.gif" alt="Donate button" name="donate" width="167" height="24" id="donate" /></a>
			<br class="clearfloat" />
		</div>
	</div>
<%- end -%>
	<%=render :partial => 'layouts/usermenu'%>

<!-- begin maincol div -->
<div id="maincol">
	<%- unless flash[:notice].blank? -%>
		<p style="color: green"><%= flash[:notice] %></p>
	<%- end -%>
	<%- unless flash[:error].blank? -%>
		<p style="color: red"><%= flash[:error] %></p>
	<%- end -%>

<%= @content_for_layout %>
</div>
<!-- end maincol div -->
<!-- begin footer div -->
<div id="footer">
	<%=render :partial => 'layouts/common_footer'%>
</div>
<!-- end footer div -->
</div>
<!-- end pagewidth div -->
</div>
<!-- end wrapper div -->
</body>
</html>
