<font color='#800'>This is a prototype of an online version of Coop Maine's directory.
Its current contents are for test purposes only.  Visit
<a href="http://www.cooperativemaine.org">www.cooperativemaine.org</a>
to get the current directory.</font>