<%- if @location.organization -%>
<div>
This is the location of <%= show_link @location.organization %>.
</div>
<%- end -%>

<%= render :partial => 'display', :locals => {:location => @location}%>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
