The DCP has been supported by <a href="http://www.equalexchange.coop/">Equal Exchange</a>, the <a href="http://datacommoners.blogspot.com/2010/09/more-funding.html">Cooperative Charitable Trust</a>, the <a href="http://datacommoners.blogspot.com/2010/08/funding.html">USDA</a>, and many others - thank you!<br />Engineering by <a href="http://http://www.ronin.coop/">Ronin Tech Collective</a>, <a href="http://www.brattcollective.com">Brattleboro Tech Collective</a>, <a href="http://sligowebworks.com/">Sligo Computer Services</a>, and other volunteers.<br />Web Hosting provided by <a href="http://www.gaiahost.coop" target="_blank" title="View the website of GAIA Host Collective">GAIA Host Collective</a>.  Management by the <a href="http://www.cdi.coop">Cooperative Development Institute</a>.
