<noscript>
	<p style="color: red">
		This page requires JavaScript to function correctly. Please enable JavaScript in your web browser.
	</p>
</noscript>
<%#NOTE: browser-based JS blockers like NoScript suppress JavaScript without processing <noscript> tags%>
<p style="color: red" id="jsrequired">
	This page requires JavaScript to function correctly. Please enable JavaScript in your web browser.
</p>
<script>
document.getElementById('jsrequired').hide();
</script>