<html>
<head>
  <title>Data Commons Project: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<h1>Data Commons Project</h1>

<p style="color: green"><%= flash[:notice] %></p>

<% if current_user %>
<p>Logged in as: <%= current_user.login %> (<%= link_to 'Logout', :controller => 'users', :action => 'logout' %>)</p>
<% else %>
<p><%= link_to 'Login', :controller => 'users', :action => 'login' %></p>
<% end %>

<%= @content_for_layout %>

</body>
</html>
